		<form method="get" action="/quizes/<%= quiz.id %>/answer">
			Pregunta de <%= quiz.tematica %>: <%= quiz.pregunta %> <p>
			<input type="text" name="respuesta" placeholder="Responda aqui "/>
			<input type="submit" value="Enviar"/>
			<a href="/quizes/select"><button type="button">Volver </button></a>
		</form>
		<p> <strong>Comentarios:</strong><a href="/quizes/<%= quiz.id %>/comments/new"><button>Añadir comentario</button></a></p>
		<% for (index in quiz.Comments) { %>
			<p> <%= quiz.Comments[index].texto %> </p>
		<% } %>
