		<form method="get" action="/quizes/<%= quiz.id %>/answer">
			<strong>Pregunta de <%= quiz.tematica %>:</strong> <p> <%= quiz.pregunta %> <p>
			<input autofocus required type="text" name="respuesta" placeholder="Responda aqui "/>
			<input type="submit" value="Enviar"/>
			<a href="/quizes"><button type="button">Volver </button></a>
		</form>
		<p> <strong>Comentarios:</strong><a href="/quizes/<%= quiz.id %>/comments/new"><button>Añadir comentario</button></a></p>
		<% for (index in quiz.Comments) { %>
			<% if (quiz.Comments[index].publicado || session.user) {%>
				<p> 
				<%= quiz.Comments[index].texto %> 
				<% if (session.user) {%>
					<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/delete"><button type="button">Borrar </button></a>
					<% if (!quiz.Comments[index].publicado) {%>
						<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish"><button type="button">Publicar </button></a>
					<% } %>
				<% } %>
				</p>
			<% } %>
		<% } %>
